<div class="discount">
    <img src="assets/images/discount.svg">
    <div class="title">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
    <div>-20%</div>
</div>

<footer id="footer"><p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>Доставка піци не здійснюється</p>
</footer>