<div class="topPanel">
    <span id="kma">
        <span class="title">PIZZA <h3>KMA</h3></span>
        <img src="assets/images/discount.svg">
    </span>
    <div id="topPanelBox">
        <div class="topRow">
            <span class="tel visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">(044) 222 5 222</span>
            <span class="work-hours visible-lg-inline-block visible-md-inline-block">24 години/ 7 днів на тиждень</span>
            <span class="freeDelivery visible-lg-inline-block">Безкоштовна доставка піци</span>
            <button class="signInButton btn-warning"><span class="glyphicon glyphicon-user"></span> Ввійти</button>
        </div>
        <div class="bottomRow">
            <a href="#" class="hidden-xs">Піца</a>
        </div>
    </div>
</div>